
@import url(element.less);

.ip .ipAdminContentWrapper{
	//Remove the margin-right
	margin-right:0px !important;
	padding:0px !important;
}

#AlbumContent{
  margin-top:2%;
  padding:1%
  border:1px solid red;
  div.albums{
    margin-bottom:3% !important;
  }
}


.ipsGrid{
	padding:2% !important;
}
.ip .ipModuleAdministrators {
	padding-left:2% !important;
	._menu ul a{
	padding: 1px 20px;
	}
}
#galleryBoard{
    #leftBoard{
      padding-top:1%;
    }
   #rightBoard{
     border-left:1px solid rgb(224, 214, 214);
   }
    .galleryItem {

    img{
      &.active{
        border:2px solid red;
      }
      &:hover{
        border:2px solid gold;
      }
      margin-bottom: 17px;
      -webkit-box-shadow: 0px 0px 7px rgb(20, 0, 34);
      -moz-box-shadow: 0px 0px 7px rgb(20, 0, 34);
      box-shadow: 0px 0px 7px rgb(20, 0, 34);
      display: block;
    }
    }
}
