/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.ip .ipAdminContentWrapper {
  margin-right: 0px !important;
  padding: 0px !important;
}
#AlbumContent {
  margin-top: 2%;
  padding: 1%
  border:1px solid red;
}
.ipsGrid {
  padding: 2% !important;
}
.ip .ipModuleAdministrators {
  padding-left: 2% !important;
}
.ip .ipModuleAdministrators ._menu ul a {
  padding: 1px 20px;
}
